<!-- Make site content easy to read on a mobile device -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Simple hack to use an emoji as your favicon -->
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍐</text></svg>">

<!-- Default page title. This will be overwritten by the content of the first page heading. -->
<title>Gemini Capsule</title>
