<!-- 
Rebound is expected a form submission with a field named "input".

(percent)s will be replaced with server supplied prompt.
-->

<p>%s</p>
<form>
  <input name="input" type="password">
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
