<!-- 
Rebound is expected a form submission with a field named "input".

(percent)s will be replaced with server supplied prompt.
-->

<p>%s</p>
<form>
  <textarea name="input" type="text" rows="3" cols="30"></textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>
