body {
    font-family: sans-serif;
    margin: 1em;
    background: #282528;
    color: #e9f0f1 ;
    display: flex;
    margin: 0 auto;
    max-width: 60em;
    padding: 1em;
}

pre {
    overflow: auto;
    font-family: monospace;
    color: #c7ff00;
    max-width: calc(100vw - 2em);
}

blockquote {
    margin: 0;
    border-left: 5px solid #fff9;
    padding: 0.5em 1em;
}

a:before {
    content: "➤ ";
}

a {
    text-decoration: none;
    color: #f0c724;
}

h1, h2, h3 {
    color: #9fe9ff;
}
